.btn-primary, .become-a-host {
  display: inline-block;
  border-radius: 2.5em;
  padding: 1em 3.3em;
  background: $white;/*
  box-shadow: 0px 0px 82px 82px rgba($atis-blue, .05);*/
  font-size: 1.4rem;
  color: $atis-blue;
  text-decoration: none;
  transition: background .2s linear, color .2s linear;
  &:hover {
    background: $atis-blue;
    color: $white;
    transition: background .2s linear, color .2s linear;
  }
}

/*Highlight*/
.highlight-item {
  position: relative;
  text-align: center;
  
  &__img { 
    display: block;
    width: 100%; 
    max-width: auto;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba($white, .5);
  }

  &__title {
    font: normal 6rem $molle;
    color: $atis-blue;
  }
  &__subtitle {
    margin-bottom: 1em;
    font-size: 1.4rem;
    color: $atis-blue;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

}

@media (min-width:$mobile2){
  .highlight-item__title {
    font-size: 8rem;
  }
  .highlight-item__subtitle {
    margin-bottom: 2em;
  }
}
@media (min-width:$tablet){
  .highlight-item__title {
    font-size: 12rem;
  }
}

/*Booking Form*/
.frm-booking {
  padding: $gutter-header;
  background: $atis-blue;

  label {
    position: relative;
    display: block;
    border-bottom: solid 1px $atis-blue;
    margin-bottom: 1em;
    width: 100%;
    color: $white;

    span.lbl {
      position: absolute;
      padding: .4em 0 0 .6em;
      font-size: 2rem;
      color: $white;
      .fa {
        color: rgba( $white, .6 );
      }
      span {
        position: absolute;
        top: -9999em;
        left: -9999em;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }

  }
  select, input {
    display: block;
    border: none;
    padding: 1rem 2rem 1rem 4rem;
    width: 100%;
    background: transparent;
  }
  input {
    border-bottom: solid 1px rgba($white, .6);
    padding: 1.2rem 2rem 1.3rem 4rem;
  }

  .submit-button {
    display: inline-block;
    border-radius: 2.5em;
    border: none;
    margin: 0 auto;
    padding: .7em 3.3em;
    width: 100%;
    max-width: 40rem;
    background: #fff;
    font-size: 1.8rem;
    color: $atis-blue;

    span {
      font-size: 1.6rem;
    }
  }
}

.pretty-select {
  position: relative;
  overflow: hidden;
  outline: none;
  border-bottom: solid 1px rgba($white, .6);
    
  &:after {
    content: "\f078";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    margin-top: -1rem;
    font: normal normal normal 14px/1 FontAwesome;
    color: rgba( $white, .6 );
    pointer-events: none;
  }

  select {
    outline: none;
    border-radius: 0;
    border: 0;
    background: transparent;
    line-height: 1.5;
    color: $white;
    -webkit-appearance: none;

    option {
      color: $black;
    }
  }
}


/*### POPULAR PLACES ###*/
.popular-places {
  text-align: center;

  &__title {
    padding: 2rem 0;
    color: $atis-blue-gray;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: .6rem;
    word-spacing: 1.5rem;
  }

  &__item {
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    
    > a {
      display: block;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba( $atis-blue, .2 );
      }
    }
    
    &__img {
      position: relative;
      float: left;
      width: 100%;

    }
    &__overlay {
      position: absolute;
      top: calc(100% - 5rem);
      left: 0;
      padding: 1rem;
      width: 100%;
      height: 100%;
      background: rgba( $atis-blue, 0 );
      text-align: left;
      transition: top .2s linear, text-align .2s linear, background .2s linear;

      &.open {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        top: 0;
        background: rgba( $atis-blue, .8 );
        text-align: center;
        transition: top .2s linear, text-align .2s linear, background .2s linear;
      }
    }

    &__title {
      margin-bottom: 1rem;
      width: 100%;
      font-size: 2.6rem;
      font-weight: bold;
      color: $white;
    }
    &__features {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      
      li {
        display: inline-block;
        margin: .5rem;
      }
      a {
        display: block;
        border-radius: 1.6rem;
        border: solid 2px rgba( $white, .4);
        padding: .7rem 1.9rem;
        color: $white;
        text-decoration: none;
        transition: background-color .2s linear;

        &:hover {
          background-color: rgba( $white, .4 );
          transition: background-color .2s linear;
        }
      }
    }
  }

}


@media screen and (min-width: $mobile2){
  .popular-places__item {

    &__overlay {
      top: calc(100% - 6rem);
    }
    &__title {
      font-size: 3.6rem;
    }
  }
}

@media screen and (min-width: $desktop){
  .popular-places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    &__title {
      grid-column-start: 1;
      grid-column-end: span 2;
      padding-bottom: 0;
    }

    &__item {
      margin-bottom: 0;
      order: 1;

      &.highlight {
        grid-column-start: 1;
        grid-column-end: span 2;
        order: 0;
      }
    }
  }
}

@media screen and (min-width: $desktop2){
  .popular-places {
    grid-template-columns: 0.37fr repeat(4, 1fr) 0.37fr;
    grid-gap: 2rem;

    &__title {
      grid-column-start: 1;
      grid-column-end: 7;
    }

    &__item {
      grid-column-end: span 2;
      height: 25.5rem;

      &.highlight {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        order: 1;

        height: auto;

        .popular-places__item__img {
          width: auto;
          height: 100%;
        }
      }
      
        &:nth-child(6n+1), &:nth-child(7n+1) {
          height: 35rem;
        }

        &:nth-child(6n+1){
          grid-column-start: 1;
          grid-column-end: 4;
        }

        &:nth-child(7n+1){
          grid-column-start: 4;
          grid-column-end: 7;
        }
      
      
    }
  }
}

/*### POPULAR HOTELS ###*/
.popular-hotels {
  padding: 0 1rem;
  background: $atis-white-gray;
  text-align: center;

  &__title {
    padding: 2rem 0;
    color: $atis-blue-gray;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: .6rem;
    word-spacing: 1.5rem;
  }

  &__item {
    position: relative;
    margin-bottom: 4rem;  
    background: $white;
    box-shadow: 0px 6px 33px -3px rgba( $black, .1);

    &__img {
      display: block;
      width: 100%;
    }

    &__title, &__category, &__price, &__days {
      display: block;
      max-width: 50%;
    }

    &__title {
      order: 1;
      font-size: 1.8rem;
    }
    &__category {
      order: 3;
    }
    &__price {
      order: 2;
      font-size: 3.6rem;
      font-weight: 100;
    }
    &__days {
      order: 4;
      width: 7rem;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 2rem 4rem 2rem;
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%);
    color: $atis-blue-gray;
    text-align: left;
  }

  .btn-primary {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    min-width: 17rem;
    text-align: center;
  }
}
